@import url("https://fonts.googleapis.com/css?family=Proza+Libre:400,700");

/* {
    border: 1px solid black;
}*/

.client-img {
    border-radius: 50%;
    background-color: white;
}

.jumbotron {
    height: 300px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.clients h1 {
    padding-top: 5%;
    padding-bottom: 5%;
}

.container-fluid {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(58, 93, 174, 0.6)), to(rgba(58, 93, 174, 0.6))), url(http://www.abb-oilandgas.co.uk/dev1/slides/images/Oil-gas_close-ups0050.jpg?24626538);
    background: -webkit-linear-gradient(rgba(58, 93, 174, 0.6), rgba(58, 93, 174, 0.6)), url(http://www.abb-oilandgas.co.uk/dev1/slides/images/Oil-gas_close-ups0050.jpg?24626538);
    background: -o-linear-gradient(rgba(58, 93, 174, 0.6), rgba(58, 93, 174, 0.6)), url(http://www.abb-oilandgas.co.uk/dev1/slides/images/Oil-gas_close-ups0050.jpg?24626538);
    background: linear-gradient(rgba(58, 93, 174, 0.6), rgba(58, 93, 174, 0.6)), url(http://www.abb-oilandgas.co.uk/dev1/slides/images/Oil-gas_close-ups0050.jpg?24626538);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.min-50-top {
    margin-top: -50px;
}

#collapsingNavbar {
    position: absolute;
    right: 0;
}

.hero {
    text-align: center;
    font-size: 48px;
    font-family: 'Proza Libre', sans-serif;
    color: black;
}

.partners {
    padding-top: 5%;
    padding-bottom: 5%;
}

#partner-text {
    padding-top: 5%;
}

img.partner-img {
    width: 100px;
    display: block;
    margin: auto;
}

.img-col {
    width: 500px;
    display: block;
    margin: auto;
}

h2 {
    text-align: center;
    font-size: 36px !important;
}

.card {
    border-radius: 5px !important;
    padding: 10px;
    -webkit-box-shadow: 1px;
    box-shadow: 1px;
}

.serv {
    min-height: 300px;
}

.title,
.subtitle {
    text-align: center;
}

p {
    font-size: 16px;
}

#instruments {
    height: 200px;
    width: auto;
}

.contact-col {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(58, 93, 174, 0.6)), to(rgba(58, 93, 174, 0.6))), url(https://static1.squarespace.com/static/57f38a4f3e00befa2e938877/t/57f3dbb759cc6803e5f4c832/1475599292989/DSC_0043+%282%29.jpg?format=1500w);
    background: -webkit-linear-gradient(rgba(58, 93, 174, 0.6), rgba(58, 93, 174, 0.6)), url(https://static1.squarespace.com/static/57f38a4f3e00befa2e938877/t/57f3dbb759cc6803e5f4c832/1475599292989/DSC_0043+%282%29.jpg?format=1500w);
    background: -o-linear-gradient(rgba(58, 93, 174, 0.6), rgba(58, 93, 174, 0.6)), url(https://static1.squarespace.com/static/57f38a4f3e00befa2e938877/t/57f3dbb759cc6803e5f4c832/1475599292989/DSC_0043+%282%29.jpg?format=1500w);
    background: linear-gradient(rgba(58, 93, 174, 0.6), rgba(58, 93, 174, 0.6)), url(https://static1.squarespace.com/static/57f38a4f3e00befa2e938877/t/57f3dbb759cc6803e5f4c832/1475599292989/DSC_0043+%282%29.jpg?format=1500w);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.needs-40 {
    padding-bottom: 40px;
}

.contact-text {
    padding-top: 20%;
    text-align: justify;
}

.part {
    z-index: 1;
    margin-top: 0;
}

.parallax {
    z-index: -1;
}

.card .card-image {
    opacity: 1;
    cursor: pointer;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.card {
    opacity: 1;
    cursor: pointer;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.card .card-image:hover {
    opacity: .5;
}

.card:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}


/*
footer {
    margin-top: 5%;
}
*/

.hidden {
    display: none;
}


/*.blue {
    height: 120px;
}*/

.is-white {
    color: white !important;
    padding-bottom: 40px;
}

.main-head {
    width: 60%;
}


/*h3,
i {
    border: 1px solid black;
}*/

p {
    text-align: center;
    margin-top: 10px;
}

.partners p {
    padding: 70px 0;
    text-align: center;
}

.partners img {
    height: 40px;
}

.partner-card {
    height: 400px;
}

.box {
    position: relative;
    top: -42px;
    z-index: 3;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

#nav-toggle-state {
    display: none;
}

#nav-toggle-state:checked~.nav-menu {
    display: block;
}

.bg-inverse {
    color: #eceeef;
    background-color: #312f38 !important;
}

.bg-inverse-custom {
    margin-top: 0px!important;
}

.section-text {
    padding-top: 7rem !important;
}

.text-left p {
    text-align: left!important;
    padding-top: 2rem;
}


/* - - - -  Bounce arrow - - - - */

.fa-arrow-down {
    color: white!important;
    text-decoration: none;
}

.arrow {
    text-align: center;
}

.bounce {
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    60% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    60% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

body {
    padding: 1rem;
}

// Product styles
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");
body {
    background-color: #f4f7f7
}

* {
    font-family: Lato
}

.six-hundred,
.two-hundred {
    margin: 15px auto;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    opacity: 1
}

.hidden {
    display: none;
    opacity: 0
}

textarea {
    width: 80%;
    margin: auto;
    display: block
}

.six-hundred-div {
    min-height: 300px;
    text-align: center;
    border: solid 1px transparent
}

.container {
    width: 80%;
    margin: auto;
    border-radius: 10px;
    padding: 10px
}

#six-hundred-checkBox {
    margin: auto;
    text-align: center
}

#six-hundred-checkBox input {
    margin: auto;
    margin-bottom: 10px
}

.prod-page-card {
    border-radius: 5px;
    -webkit-box-shadow: 5px;
    box-shadow: 5px;
    padding: 20px;
    margin: 20px
}

.prod-page-card:hover {
    cursor: pointer
}

.helper-text {
    text-align: center;
    padding-bottom: 20px
}

.disabled {
    display: none
}

.fixed-height-footer {
    height: 30px
}

.disabled-grey {
    -webkit-filter: blur(5px) grayscale(100%);
    filter: blur(5px) grayscale(100%)
}

.card {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s
}

.selected {
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-filter: drop-shadow(0 0 10px #333);
    filter: drop-shadow(0 0 10px #333);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s
}

img {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s
}

.padding-bottom-20 {
    padding-bottom: 20px
}

.icon {
    max-width: 40px;
    height: auto;
    padding-bottom: 10px
}

.text-centre {
    text-align: center
}

.result-card {
    margin-bottom: 20px
}

.size-card {
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s
}

textarea {
    display: block;
    margin: auto!important;
}

#alloptions {
    padding: 0 10px;
}


/*
#alloptions h1,
#alloptions h2,
#alloptions h3,
#alloptions h4,
#alloptions h5,
#alloptions h6,
#alloptions p {
color: #424753!important;
}
*/

.list-crystal {
    padding: 0 10px!important;
}

button {
    display: block!important;
    margin: auto!important;
}

#content {
    background-color: #312f38;
    padding-top: 100px;
}

.bg-inverse-custom,
nav {
    margin-top: 0px;
}

h1,
h2,
h3,
h4 {
    color: white;
}

.black-text {
    color: rgb(74, 74, 74);
}

#content {
    margin-top: 91.2px;
}

input[type="checkbox"] {
    margin: auto;
    display: block;
}